body {
    margin: auto;
}

.background {
    color: rgb(245, 241, 237);
}

.content {
    padding: 20px;
    background-color: aliceblue;
}

.nav {
    background-color: #f0f5f1;
    padding: 20px;
}